<!DOCTYPE html>
<html lang=”en”>
    <% include ../partials/head %>

    <% include ../partials/jqueryScripts %>
    <% include ../partials/bootstrapScripts %>
<body>
    <% include ../partials/navbar %>
    <div class="container body-content">
            <h1>About Us</h1>
            <h2>WE ARE TALENTED TECHNOLOGISTS, AND PROFESSIONAL PRODUCT BUILDERS.</h2>
            
            <p>At SourceFuse, we are focused on using our passion for cutting-edge technology and product development to collaborate with companies who want to make an impact in their industry.</p>
            <p>Whether you’re part of a startup who needs more hands working on an innovative new app, or an enterprise in need of some outside web, mobility or IoT expertise, we will provide you with the right solution — and quickly.</p>
            <p>Rooted in building technology that drives your core business, our focus at SourceFuse is to deliver results today that will lead you into the future. We are constantly evaluating new technologies by their uses, benefits and limitations. This allows us to curate the best technology for your specific project.</p>
         
        <% include ../partials/footer %>
    </div>
</body>